speechrecognition==3.10.0
pyttsx3==2.90
fuzzywuzzy==0.18.0
pycaw==20230407
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
spacy
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0.tar.gz
beautifulsoup4
requests
numpy
pyaudio
python-Levenshtein